<ngx-spinner></ngx-spinner>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Leave</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="../../index.html">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Leaves</a>
                        </li>
                        <li class="breadcrumb-item active">Edit leave</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px !important;">
            <button class="btn btn-warning btn-border-radius waves-effect float-left ml-4" routerLink="/leave"> &#8592; Back </button>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Edit</strong> Leave
                        </h2>
                    </div>
                    <div class="body">
                        <form [formGroup]="leaveForm" (ngSubmit)="onUpdate()">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control col-12 m-t-20 p-l-0" formControlName="employee_id" placeholder="Project type" >
                                                <option value="">Select Employee</option>
                                                <option *ngFor="let data of dataSource" value="{{data.id}}">{{data.name}}</option>
                                            </select>
                                        </div>
                                        <div *ngIf="isSubmitted && errorControl.employee_id.errors?.required" class="error-msg">
                                            <label class="error">Employee is required</label>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control col-12 m-t-20 p-l-0" formControlName="leave_type" placeholder="Project type" >
                                                <option value="">Leave Type</option>
                                                <option *ngFor="let data of leaveSource" value="{{data.leave_type}}">{{data.leave_type}}</option>
                                            </select>
                                        </div>
                                        <div *ngIf="isSubmitted && errorControl.leave_type.errors?.required" class="error-msg">
                                            <label class="error">Leave type is required</label>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" formControlName="title" class="form-control" placeholder="Title" autocomplete="off" />
                                    </div>
                                    <div *ngIf="isSubmitted && errorControl.title.errors?.required" class="error-msg">
                                        <label class="error">Title is required</label>
                                      </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" formControlName="description" class="form-control" placeholder="Description" autocomplete="off" />
                                    </div>
                                    <div *ngIf="isSubmitted && errorControl.description.errors?.required" class="error-msg">
                                        <label class="error">Description is required</label>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Select Date"
                                        bsDaterangepicker
                                        [bsConfig]="{ showWeekNumbers:false }"
                                        formControlName="start"
                                        autocomplete="off"
                                        [minDate]="minDate"
                                        [daysDisabled]="[6,0]"
                                        [datesDisabled]="disabledDates"
                                        (ngModelChange)="updateMyDate($event)"
                                        [maxDate]="maxDate" />
                                    </div>
                                    <div *ngIf="isSubmitted && errorControl.start.errors?.required" class="error-msg">
                                        <label class="error">Start date is required</label>
                                      </div>
                                </div>
                            </div>
                            <div class="col-sm-6" *ngIf="day==0">
                              <div class="form-group">
                                  <div class="form-line">
                                      <select class="form-control col-12 m-t-10 p-l-0" formControlName="day">
                                          <option value="">Select Half/Full day</option>
                                          <option value="fullday">Full day</option>
                                          <option value="halfday">Half day</option>
                                      </select>
                                  </div>
                              </div>
                            </div>
                        </div>

                        <div class="col-lg-12 p-t-20 text-center">
                            <button type="submit" class="btn btn-primary waves-effect m-r-15">Submit</button>
                            <button type="button" class="btn btn-danger waves-effect" routerLink="/leave">Cancel</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

