<ngx-spinner></ngx-spinner>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">All Overviews</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="../../index.html">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Overview</a>
                        </li>
                        <li class="breadcrumb-item active">All Overview</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 15px !important;">
            <button class="btn btn-warning btn-border-radius waves-effect float-left ml-5" routerLink="/project/defects_list"> &#8592; Back </button>
        </div>

        <div class="custom-row">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body" >
                            <div class="header-content">
                                    <h3 class="heading-title">{{dataSource.title}}

                                        <a routerLink="/project/overview/{{project_id}}/edit/{{id}}" class="btn btn-tbl-edit" >
                                            <i class="material-icons">create</i>
                                        </a>
                                    </h3>
                                    <p class="user-info">Added By: <span>{{dataSource.userinfo.first_name}} {{dataSource.userinfo.last_name}}  {{datetime}}</span> <label class="status" [innerHTML]="dataSource.status"></label></p>

                                    <p class="content-description" [innerHTML]="dataSource.description"></p>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="left-timeline">

                                        <li *ngFor="let data of logSource">

                                            <div class="left-icon"><img src="../../assets/images/user/user2.jpg" alt="">
                                            </div>
                                            <div class="left-label">
                                                <h2><a href="#" onClick="return false;">{{name}}</a> <span>&nbsp;posted a
                                                        status update</span> <time class="left-time" datetime="2017-11-04T03:45"><span>{{data.time}}</span></time></h2>
                                                <p [innerHTML]="data.comment"></p>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>Add Comment</label>
                                        <ckeditor
                                            #editor
                                            [config]="ckeConfig"
                                            formControlName="comment">
                                        </ckeditor>
                                    </div>
                                </div>
                                <div class="col-lg-12 p-t-20 text-center">
                                    <button type="submit" class="btn btn-primary waves-effect m-r-15">Submit</button>
                                    <button type="button" class="btn btn-danger waves-effect" routerLink="/project/overview/{{project_id}}">Cancel</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
