<ngx-spinner></ngx-spinner>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Change Password</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a href="../../index.html">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a href="#" onClick="return false;">Change Password</a>
                        </li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Change</strong> Password
                        </h2>
                    </div>
                    <div class="body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">

                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="password" formControlName="password" class="form-control" placeholder="Password" autocomplete="off"/>
                                    </div>
                                    <div *ngIf="isSubmitted && errorControl.password.errors?.required" class="error-msg">
                                        <label class="error">Password is required</label>
                                      </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="password" formControlName="confirm_password" class="form-control" placeholder="Confirm password" autocomplete="off"/>
                                    </div>
                                    <div *ngIf="isSubmitted && errorControl.confirm_password.errors?.required" class="error-msg">
                                        <label class="error">Confirm password is required</label>
                                      </div>
                                      <div *ngIf="isSubmitted && errorControl.confirm_password.errors?.confirmedValidator" class="error-msg">
                                        <label class="error">Password and Confirm Password must be match.</label>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 p-t-20 text-center">
                            <button type="submit" class="btn btn-primary waves-effect m-r-15">Submit</button>
                            <button type="button" class="btn btn-danger waves-effect" (click)="onCancelhandler()">Cancel</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

